<div class="left_area">
    <div class="left_banner">
        <a class="linker" href="/">
            <span class="favicon"></span>
            <span class="linker_txt">b.0x449</span>
        </a>
    </div>
    <div class="left_contents">
        <div class="profile_img"></div>
    </div>
    <% if (admin) { %>
    <div style="text-align: center; margin: 20px;">
        <a href="/write">Write</a>
    </div>
    <div style="text-align: center; margin: 20px;">
        <a href="/logout">logout</a>
    </div>
    <% } %>
</div>
