<div class="left_area">
    <div class="left_banner">
        <a class="linker" href="/">
            <span class="favicon"></span>
            <span class="linker_txt">b.0x449</span>
        </a>
    </div>
    <div class="left_contents">
        <div class="profile_img"></div>
    </div>
</div>
