<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title><%= base.title %></title>
</head>
<body>
    <form action="/login" method="post">
        <div>
            <span>id: </span>
            <input type="text" name="id" value="" />
        </div>
        <div>
            <span>password: </span>
            <input type="text" name="password" value="" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
