<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title><%= base.title %></title>
</head>
<body>
    <div>
        <%= post.title %>
    </div>
    <div>
        <%= post.contents %>
    </div>
</body>
</html>