<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= base.title %></title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- SimpleMDE (Markdown editor) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- showdownjs (Markdown parser) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.4/showdown.min.js"></script>
    <!-- highlightjs (code highlight) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="/javascripts/highlight.pack.js"></script>

    <style>
        .post_contents {
            font-family: 'Malgun Gothic';
        }

        code {
            font-family: Consolas;
        }
    </style>

    <script>
        hljs.initHighlightingOnLoad();

        $(function() {
            var deferredRenderer = null;
            var renderPreview = function() {
                var md = editor.value();
                var html = converter.makeHtml(md);
                $('#preview_area').html(html);
                $('pre code').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
                deferredRenderer = null;
            }

            var converter = new showdown.Converter();
            converter.setFlavor('github');
            converter.setOption('tables', true);

            var editor = new SimpleMDE({
                element: $("#editor")[0],
                previewRender: function(plainText, preview) {
                    //setTimeout(function() {
                    //    preview.innerHTML = converter.makeHtml(plainText);
                    //}, 1000);
                    //return "Loading...";

                    return converter.makeHtml(plainText);
                }
            });
            editor.codemirror.on('change', function() {
                if (deferredRenderer === null) {
                    deferredRenderer = setTimeout(renderPreview, 1000);
                }
            });

            $('#btn_submit').on('click', function(e) {
                var md = editor.value();
                var title = $('#inp_title').val();
                var tags = $('#inp_tags').val();
                var permalink = $('#inp_permalink').val();

                var post = {
                    title: title,
                    contents: md,
                    category: '',
                    tags: tags,
                    permalink: permalink
                };
                $.ajax({
                    type: 'POST',
                    url: '/api/post/add',
                    data: JSON.stringify(post),
                    contentType: "application/json; charset=utf-8",
                    xhrFields: {
                        withCredentials: true
                    }
                })
                .done(function(resp) {
                    location.href = '/';
                })
                .fail(function(xhr, status) {

                });
            });
        });

        $(document).bind('paste', function(e) {
            var clipboardData = e.originalEvent.clipboardData || window.clipboardData;
            var data = clipboardData.getData('Text');
            console.log(data);
        });
    </script>
</head>
<body>
    <div>
        <div style="float: left; width: 50%;">
            <span>Permalink:</span>
            <input id="inp_permalink" type="text" style="width: 100%;" value="" />

            <span>Title:</span>
            <input id="inp_title" type="text" style="width: 100%;" value="" />

            <textarea name="editor" id="editor"></textarea>

            <span>Tags:</span>
            <input id="inp_tags" type="text" style="width: 100%;" value="" />
        </div>
        <div style="float: left; width: 50%;">
            <div id="preview_area" class="post_contents"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="height: 50px; width: 100%;">
        <button id="btn_submit">submit</button>
    </div>
</body>
</html>
