<div class="top-sticky-box lay-box-center">
    <div class="top-box-wrap">
        <div class="box" style="width: 65px;">
            <a href="/">
                <div class="site-link-wrap">
                    <div class="site-link-mark">
                        <div class="site-link-mark-inner"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="box" style="width: calc(100% - 130px);">
            <div style="height: 100%; display: flex; align-items: center; padding: 10px; box-sizing: border-box;">
                <span style="color: #606060; font-size: 20px; font-weight: bold; vertical-align: middle;">b.0x449</span>
            </div>
        </div>
        <div class="box" style="width: 65px;">
            <div class="site-item-wrap">
                <div class="site-item-bar"></div>
                <div class="site-item-bar"></div>
                <div class="site-item-bar"></div>
            </div>
        </div>
    </div>
</div>