<div class="top-sticky-box lay-box-center">
    <div class="top-box-wrap">
        <div class="box" style="width: 65px;">
            <a href="/">
                <div class="site-link-wrap">
                    <div class="site-link-mark">
                        <div class="site-link-mark-inner"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="box" style="width: calc(100% - 130px);">
            <div style="height: 100%; display: flex; align-items: center; padding: 10px; box-sizing: border-box;">
                <span style="color: #606060; font-size: 20px; font-weight: bold; vertical-align: middle;">b.0x449</span>
            </div>
        </div>
        <div class="box" style="width: 65px;">
            <div id="btn-site-item" class="site-item-wrap">
                <div class="site-item-bar"></div>
                <div class="site-item-bar"></div>
                <div class="site-item-bar"></div>
            </div>
        </div>
    </div>
</div>
<% if (admin) { %>
<div id="site-item-menu-overlay" style="display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.01);"></div>
<div id="site-item-menu" style="display: none; position: fixed; top: 65px; right: 0;">
    <div>
        <div>
            <a href="/write">write</a>
        </div>
        <div>
            <a href="/logout">logout</a>
        </div>
    </div>
</div>
<script>
    $('#btn-site-item').click(function(e) {
        $('#site-item-menu-overlay').show();
        $('#site-item-menu').show();
    });
    $('#site-item-menu-overlay').click(function(e) {
        $('#site-item-menu-overlay').hide();
        $('#site-item-menu').hide();
    });
</script>
<% } %>